<html>
<head>
  <title>My eleventy netlify blog</title>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
<h1>My eleventy netlify blog</h1>
{{ content | safe }}

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

</body>
</html>
